# This tells pnpm to use a single, centralized node_modules folder at the workspace root,
# instead of symlinking dependencies into each package.
# It's necessary for React Native (and the Metro bundler) because Metro has trouble resolving symlinked node_modules,
# which can cause module resolution errors during development.
node-linker=hoisted

# Auto-install peer dependencies
auto-install-peers=true
